<div class="layui-header">
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect="">
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="/" target="_blank" title="前台">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="">

        <li class="layui-nav-item">
            <a lay-href="app/message/">
                <i class="layui-icon layui-icon-notice"></i>
                <span class="layui-badge-dot"></span>

            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-note"></i>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <cite>贤心</cite>
                <span class="layui-nav-more"></span>
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a lay-href="set/base/website">基本资料</a>
                </dd>
                <dd>
                    <a lay-href="set/security/">安全设置</a>
                </dd>
                <hr>
                <dd layadmin-event="logout" style="text-align: center;">
                    <a>退出</a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
        </li>

</div>