<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
            <div class="layui-logo" lay-href="">
                    <span>layuiAdmin Pro</span>
                </div>
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">管理员管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/manager" target="_content">管理员列表</a></dd>
                    <dd><a href="/admin/manager/add" target="_content">新增管理员</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">栏目管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="javascript:;">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="file.html" target="_content">文件管理</a></li>
            <li class="layui-nav-item"><a href="javascript:;">banner管理</a></li>
            <li class="layui-nav-item"><a href="./config.html" target="_content">网站配置</a></li>
        </ul>
    </div>
</div>