<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
            <span>NodeCMS 管理系统</span>
        </div>
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">管理员管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/manager" target="_content">管理员列表</a></dd>
                    <dd><a href="/admin/manager/add" target="_content">添加管理员</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">栏目管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/category" target="_content">栏目列表</a></dd>
                    <dd><a href="/admin/category/add" target="_content">添加栏目</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">Rbac管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/role" target="_content">角色管理</a></dd>
                    <dd><a href="/admin/node" target="_content">节点管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="file.html" target="_content">文件管理</a></li>
            <li class="layui-nav-item"><a href="javascript:;" target="_content">banner管理</a></li>
            <li class="layui-nav-item"><a href="/admin/config" target="_content">网站配置</a></li>
        </ul>
    </div>
</div>