<%- include('common/meta.html') %>
<body style="">
    
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><%= title %></div>
                <div class="layui-card-body">

                    <div class="layui-btn-container">
                            <div class="layui-collapse" lay-accordion="" lay-filter="collapse">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">软件信息</h2>
                                        <div class="layui-colla-content layui-show">
                                            <table class="layui-table">
                                                <tr>
                                                    <td width="40%">软件名称</td>
                                                    <td width="60%">nodecms企业网站</td>
                                                </tr>
                                                <tr>
                                                    <td>系统版本</td>
                                                    <td>v1.0.0</td>
                                                </tr>
                                                <tr>
                                                    <td>QQ群</td>
                                                    <td>494826865</td>
                                                </tr>
                                                <tr>
                                                    <td>技术支持</td>
                                                    <td><a href="#';">nodecms</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">服务器信息</h2>
                                        <div class="layui-colla-content">
                                            <table class="layui-table">
                                                <tr>
                                                    <td>服务器IP</td>
                                                    <td><%= info.servieInfo.ip %></td>
                                                </tr>
                                                <tr>
                                                    <td width="40%">服务器域名</td>
                                                    <td width="60%"><%= info.servieInfo.hostname %></td>
                                                </tr>
                                                <tr>
                                                    <td>服务器端口</td>
                                                    <td><%= info.servieInfo.port %></td>
                                                </tr>
                                                <tr>
                                                    <td>服务器操作系统</td>
                                                    <td><%= info.servieInfo.platform %></td>
                                                </tr>
                                                <tr>
                                                    <td>运行环境</td>
                                                    <td>node</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td width="40%">node版本</td>
                                                    <td width="60%"><%= info.servieInfo.versions %></td>
                                                </tr>
                                                <tr>
                                                    <td>数据库名称</td>
                                                    <td><%= info.servieInfo.database %></td>
                                                </tr>
                                                <tr>
                                                    <td>数据库版本号</td>
                                                    <td><%= info.servieInfo.databaseVersion %></td>
                                                </tr>
                                                <tr>
                                                    <td>上传文件最大限制</td>
                                                    <td><%= info.servieInfo.fileSize %></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">日志信息</h2>
                                        <div class="layui-colla-content">
                                            <table class="layui-table" lay-skin="nob" lay-even="">
                                                <colgroup>
                                                  <col width="30">
                                                  <col>
                                                  <col width="160">
                                                  <col width="160">
                                                  <col width="200">
                                                </colgroup>
                                                <thead>
                                                  <tr>
                                                    <th>ID</th>
                                                    <th>帐号</th>
                                                    <th>ip</th>
                                                    <th>登录时间</th>
                                                    <th>登录信息</th>
                                                  </tr> 
                                                </thead>
                                                <tbody>
                                                  <% data.forEach(function(item){ %>
                                                  <tr>
                                                    <td><%= item.id %></td>
                                                    <td><%= item.account %></td>
                                                    <td><%= item.ip %></td>
                                                    <td><%= item.time %></td>
                                                    <td><%= item.msg %></td>
                                                  </tr>
                                                  <% }) %>
                                                </tbody>
                                              </table> 
                                              <div id="page"></div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div style="height:1000px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //JavaScript代码区域
    layui.use(['layer','element','laypage','jquery'], function () {
        var layer = layui.layer, element = layui.element,$ = layui.jquery,laypage=layui.laypage;

        //监听折叠
        element.on('collapse(collapse)', function(data){
            layer.msg('展开状态：'+ data.show);
        });

       
        //总页数低于页码总数
        laypage.render({
            elem: 'page',
            count: <%= count %>, //数据总数
            limit: <%= limit %>,//每页显示几条
            curr: <%= page %>,//当前页
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    window.location.href="/admin/info?page="+obj.curr;
                }
                
            }
        });


    });
</script>
</body>
</html>