<%- include('common/meta.html') %>
<body style="">
    
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><%= title %></div>
                <div class="layui-card-body">
                    <!--  -->
                    <table class="layui-table" lay-skin="nob" lay-even="">
                      <colgroup>
                        <col width="30">
                        <col>
                        <col width="100">
                        <col width="160">
                      </colgroup>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>帐号</th>
                          <th>状态</th>
                          <th>操作</th>
                        </tr> 
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>12312312</td>
                          <td>正常</td>
                          <td>
                              <button class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i></button>
                              <button class="layui-btn layui-btn-danger layui-btn-sm"><i class="layui-icon"></i></button>
                              
                        </td>
                        </tr>
                       
                      </tbody>
                    </table> 
                    <div id="page"></div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //JavaScript代码区域
    layui.use(['jquery','layer','laypage'], function () {
        var $ = layui.jquery, layer = layui.layer,laypage=layer.laypage;
        //总页数低于页码总数
        laypage.render({
          elem: 'page'
          ,count: 50 //数据总数
        });
       

    });
</script>
</body>
</html>